<div class="content">
    <div class="header">Titulo del curso</div>
    <div class="main">
        <div class="main-curso">
            <div class="main-curso-multimedia">
                seccion multimedia
            </div>
            <div class="main-curso-info">
                <mat-tab-group content>
                    <mat-tab label="Informacion del curso"> test </mat-tab>
                    <mat-tab label="Duracion del curso"> 
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                    </mat-tab>
                    <mat-tab label="Preguntas y respuestas"> Content 3 </mat-tab>
                </mat-tab-group>
                <!--button mat-button color="accent">Accent</button>
                <button mat-raised-button color="accent">Accent</button>
                <button mat-raised-button color="primary">Primary</button-->
            </div>
        </div>
        <div class="main-lista">seccion lista</div>
    </div>
</div>