<div class="content">
    <div class="header">Titulo del curso</div>
    <div class="main">
        <div class="main-curso">
            <div class="main-curso-multimedia">
                seccion multimedia
            </div>
            <div class="main-curso-info tabs-wrapper">
                <mat-tab-group content class="full-size">
                    <mat-tab label="Informacion del curso"> test </mat-tab>
                    <mat-tab label="Duracion del curso"> 
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                        test<br>
                    </mat-tab>
                    <mat-tab label="Preguntas y respuestas"> Content 3 </mat-tab>
                </mat-tab-group>
                <!--button mat-button color="accent">Accent</button>
                <button mat-raised-button color="accent">Accent</button>
                <button mat-raised-button color="primary">Primary</button-->
            </div>
        </div>
        <div class="main-lista">
            <mat-accordion displayMode="flat" [multi]="false" cdkDropListGroup>
                <mat-expansion-panel
                  *ngFor="let chapter of chapters" 
                  #chapterExpansionPanel
                  (mouseenter)="mouseEnterHandler($event, chapterExpansionPanel)"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ chapter.name }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
              
                    <mat-list 
                      cdkDropList 
                      
                    >
                      <mat-list-item cdkDrag *ngFor="let item of chapter.items">
                        {{ item.name }}
                      </mat-list-item>
                    </mat-list>
              
                </mat-expansion-panel>
              </mat-accordion>
        </div>
    </div>
</div>